{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}--Edit{% endblock %}
{% block content %}
<div class="container container-box">
    {{ render_form(form) }}
    <hr>
    <a href="{{ url_for('restaurant_info', restaurant_id=restaurant.id) }}"><button style="background: #7D0A0A" class="util-button">CANCEL</button></a>
    <a href="{{ url_for('delete_note', restaurant_id=restaurant.id, note_id=note_id) }}"><button style="background: #7D0A0A" class="util-button">DELETE</button></a>

</div>
{% endblock %}