{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}--Edit{% endblock %}
{% block content %}
<body class="bg">
<div class="container">
    <div class="row">
        <div class="col-sm-0 col-md-3"></div>
        <div class="col-sm-12 col-md-6">
            <h1 class="heading" style="text-align: center">Edit: {{ restaurant.name }}</h1>
        </div>
        <div class="col-sm-0 col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-0 col-md-3"></div>
        <div class="col-sm-12 col-md-6 container-box">
              <p class="flash">{{ get_flashed_messages()[0] }}</p>
              {{ render_form(form) }}
            <br>
            <hr>
              <a href="{{url_for('restaurant_info', restaurant_id=restaurant.id) }}"><button style="background: #436850;" class="util-button">CANCEL</button></a>
        </div>
        <div class="col-sm-0 col-md-3"></div>
    </div>
</div>
</body>
{% endblock %}