{% extends "base.html" %}
{% block title %}--Home{% endblock %}
{% block content %}
<body class="bg" id="home">
    <div class="hero-container aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
      <h1>Delhotal's Restaurant Reviews</h1>
      <h2>Keep track of the restaurants you visit</h2>
      <a href="{{ url_for('restaurants') }}" class="btn-get-started">See Restaurants</a>
      <a href="{{ url_for('add') }}" class="btn-get-started">Add Restaurant</a>
        {% if current_user.id == "admin" %}
      <a href="{{ url_for('logout') }}" class="btn-get-started">Logout</a>
        {% else %}
      <a href="{{ url_for('login') }}" class="btn-get-started">Admin Login</a>
        {% endif %}
    </div>
</body>
{% endblock %}
