{% extends "base.html" %}
<body class="bg" id="home">
{% block title %}--Home{% endblock %}
{% block content %}
    <div class="hero-container aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
      <h1>Delhotal's Restaurant Reviews</h1>
      <h2>Keep track of the restaurants you visit</h2>
      <a href="{{ url_for('restaurants') }}" class="btn-get-started">See Restaurants</a>
      <a href="{{ url_for('add') }}" class="btn-get-started">Add Restaurant</a>
    </div>
{% endblock %}
</body>
