{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}--Info{% endblock %}
{% block content %}
<body class="bg">
<div class="container container-box">
    <h1>{{ restaurant.name }}</h1>
    <ul>
    <li>Favorite Item: {{ restaurant.fav_item }}</li>
    <li>Average Price: {{ restaurant.ave_price }}</li>
    <li>Food Rating: {% for _ in range(restaurant.rate_food) %}
        <img src="{{ url_for('static', filename='star.ico') }}">{% endfor %}</li>
    <li>Service Rating: {% for _ in range(restaurant.rate_service) %}
        <img src="{{ url_for('static', filename='star.ico') }}">{% endfor %}</li>
    <li>Vibe Rating: {% for _ in range(restaurant.rate_vibe) %}
        <img src="{{ url_for('static', filename='star.ico') }}"> {% endfor %}</li>
    <li>Location: <a href="{{ restaurant.location }}" class="map">Map URL</a></li>
    <li>Notes:
        <ul>
        {% if notes: %}
            {% for note in notes %}
                <li>{{ note.note }}{% if current_user.id == "admin" %}<a href="{{ url_for('edit_notes', note_id=note.id, restaurant_id=restaurant.id) }}">✎</a>{% endif %}</li>
            {% endfor %}
        {% else %}
            <li>No notes yet.</li>
        {% endif %}
        </ul>

    </li>
    </ul>
    {% if current_user.id == "admin" %}
    {{ render_form(form) }}
    {% endif %}
    <br>
    <br>
    <hr>
    <a href="{{url_for('restaurants') }}"><button style="background: #436850;" class="util-button">BACK</button></a>
    <a href="{{ url_for('edit', restaurant_id=restaurant.id) }}"><button style="background: #436850;" class="util-button">EDIT</button></a>
    <a href="{{ url_for('delete_conf', restaurant_id=restaurant.id) }}"><button style="background: #7D0A0A;" class="util-button">DELETE</button></a>
</div>
</body>
{% endblock %}