{% extends "base.html" %}
{% block title %}--List{% endblock %}
{% block content %}
    <body class="bg">
    <div class="container container-box">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col" class="hide_on_mobile hide_on_mid">Favorite Item</th>
                  <th scope="col" class="hide_on_mobile">Average Price</th>
                  <th scope="col">Food Rating</th>
                  <th scope="col" class="hide_on_mobile">Service Rating</th>
                  <th scope="col" class="hide_on_mobile hide_on_mid">Vibe Rating</th>
                  <th scope="col" class="hide_on_mobile hide_on_mid">Location</th>
                </tr>
            </thead>
            <tbody>
            {% for restaurant in data %}
            <tr>
              <td><a href="{{ url_for('restaurant_info', restaurant_id=restaurant.id) }}" class="clickable">{{ restaurant.name }}</a></td>
              <td class="hide_on_mobile hide_on_mid">{{ restaurant.fav_item }}</td>
              <td class="hide_on_mobile">{{ restaurant.ave_price }}</td>
              <td>{% for _ in range(restaurant.rate_food) %}⭐{% endfor %}</td>
              <td class="hide_on_mobile">{% for _ in range(restaurant.rate_service) %}⭐{% endfor %}</td>
              <td class="hide_on_mobile hide_on_mid">{% for _ in range(restaurant.rate_vibe) %}⭐{% endfor %}</td>
              <td class="hide_on_mobile hide_on_mid"><a href="{{ restaurant.location }}" class="clickable">Map Link</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </body>
{% endblock %}